/* global styling and layout */
body {
    background: rgb(137,247,235);
    background: linear-gradient(153deg, rgba(137,247,235,1) 11%, rgba(26,110,232,1) 51%, rgba(175,48,207,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    align-content: center;
}

/* Child input fields */

.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    padding: 2%;
    border: none;
    margin: 10px;
    border-radius: 10px;
}

.input-group button {
    padding: 2%;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(17, 17, 74);
}

/* Toys */
.toys {
    width: 30%;
    padding: 2%;
    border-radius: 5%;
    margin-top: 80px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border-style: solid;
}

/* Children */
.child-item {
    background-color: rgba(246, 243, 240, 0.841);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}