/* global styling and layout */
body {
    background: rgb(137,247,235);
    background: linear-gradient(153deg, rgb(225, 222, 219) 5%, rgb(16, 126, 27) 12%, rgb(152, 20, 20) 30%);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    align-content: center;
}

.childList{
    background: #902121; /* White background for the card */
    border: 1px solid #310303; /* Subtle border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow */
    padding: 16px;
    margin: 16px auto;
    max-width: 400px; /* Centered and not too wide */
    box-sizing: border-box;
  }

  .childList button {
    background: #014112; /* Bootstrap-style blue */
    color: #7fd6b2; /* White text */
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    transition: background 0.3s ease;
  }
/* Child input fields */

.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    padding: 2%;
    border: none;
    margin: 10px;
    border-radius: 10px;
}

.input-group button {
    padding: 2%;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(17, 17, 74);
}

/* Toys */
.toys {
    width: 30%;
    padding: 2%;
    border-radius: 5%;
    margin-top: 80px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Children */
.child-item {
    background-color: rgba(246, 243, 240, 0.841);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.toy-item {
    margin: 5px;
    background-color: rgb(146, 146, 230);
    border-radius: 10px;
}

.drag-toys {
    padding: 10px;
    min-height: 30px;
    background-color: rgb(146, 146, 230);
    border-radius: 10px;
}

.no-posts-message, .post-item {
    background-color:  rgba(246, 243, 240, 0.841);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}